<form action="/addFeedback" method="POST">
    <input type="text" name="name" placeholder="Enter your name">
    <br>
    <input type="text" name="email" placeholder="Enter your emailID">
    <br>
    <input type="text" name="feedback" placeholder="Feedback pls">
    <br><br>
    <button>Submit</button>
</form>